{% extends 'base.html' %}
{% load static %}

{% block meta %}<title>Contact Us</title>{% endblock %}
{% block content %}
	<section class="contact-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-12">
					<div class=message-sec>
						<h3>Send Message</h3>		
					</div>
					<div class="form-sec">
						<form action="." method="POST">
							{% csrf_token %}
							<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								{{ form.name }}
								<!-- <input type="text" name="" placeholder="Name" class="form-control"> -->
								
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								{{ form.email }}
								<!-- <input type="mail" name="" placeholder="Email" class="form-control"> -->
								
							</div>							
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								{{ form.website }}
								<!-- <input type="text" name="" placeholder="Number" class="form-control"> -->
								
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								{{ form.phone }}
								<!-- <input type="text" name="" placeholder="Phone" class="form-control"> -->
								
							</div>
						</div>
						<div class="textarea-sec">
							{{ form.message }}
							<!-- <textarea class="form-control"  rows="5" placeholder="Message"></textarea> -->
							
						</div>
						<div class="send-btn">
							<button type="submit" class="btn btn-secondary">SUBMIT</button>
						</div>
						</form>						
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="contact-right">
						<div class="row">
							<div class="col-lg-8 col-6">
								<p>Schedule A Call To Speak To Our Marketing Consultant</p>
								<h4>Drop a Mail:</h4>
								<a href="#">info@dginternationalexpress.com</a>
							</div>
							<div class="col-lg-4 col-6">
								<img src="{% static 'images/contact.webp'%}">
							</div>
						</div>
					</div>					
				</div>				
			</div>
		</div>
	</section>
   {% endblock %}
	